<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
	<!-- namespace表示命名空间 ，值必须为接口的名称（包括包名）-->
	<!-- 实现类没有，mybatis框架会生成接口的实现类 -->
	<mapper namespace="cn.tedu.store.mapper.UserMapper">
		<!-- 插入用户信息 -->
		<!-- void insertUser(User user); -->
		<insert id="insertUser" parameterType="cn.tedu.store.bean.User">
		
		insert into t_user (
			username,password,email,phone,
			created_user,created_time,
			modified_user,modified_time
		)values(
			#{username},#{password},#{email},#{phone},
			#{createdUser},#{createdTime},
			#{modifiedUser},#{modifiedTime}
		)

	</insert>
	<!-- 根据用户名查询 -->
	<!-- User selectByUsername(String username); -->
	<select id="selectByUsername" 
			resultType="cn.tedu.store.bean.User">
		select 
			id,username,password,email,phone,image,gender,
			created_user createdUser,created_time createdTime,
			modified_user modifiedUser,
			modified_time modifiedTime
		from
			t_user
		where
			username = #{username}
	</select>
	<!-- 通过邮箱查询 -->
	<!-- Integer selectByEmail(String email); -->
	<select id="selectByEmail" 
			resultType="java.lang.Integer">
		select count(*)
		from
			t_user
		where
			email = #{email}		
	</select>
	<!-- 通过电话查询 -->
	<!-- Integer selectByPhone(String phone); -->
	<select id="selectByPhone" 
			resultType="java.lang.Integer">
		select count(*)
		from
			t_user
		where
			phone = #{phone}		
	</select>
	
	</mapper>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	